[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
cmake = "*"
numpy = "==1.19.3"
django-cors-headers = "*"
dlib = "==19.18.0"
opencv-python = "*"
face-recognition = "*"
simpleaudio = "*"
cloudinary = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"

[dev-packages]
